.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.buy-now-button{
    border-radius: 8px;
    background-image: linear-gradient(to bottom,rgb(241, 153, 153),deeppink);
    color: aliceblue;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
}
.carousel-item{
    padding: 20px 40px;
}
p{
    font-style: bold;
}
.price{
    color: deeppink;
}
.cat1{
    background-image: linear-gradient(rgb(245, 213, 32),rgb(237, 252, 29));
    border-radius: 10px;
    
}
.cat2{
    background-color: fuchsia;
    border-radius: 10px;
}
.cat3{
    background-color: blue;
    border-radius: 10px;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
}
.categories h1{
    color:  white;
}
.categories img {
    width: 100px;
    
}
.card{
    bottom: none;
    box-shadow: 5px 5px 10px lightgray;
}
